spring:
  application:
    name=: MR and CT Scan Appointment Scheduling and Recommendation System
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}/${POSTGRES_DB_NAME}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  thymeleaf:
    cache: false
  security:
    user:
      name: admin
      password: password
  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true