<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Giriş - Admin Paneli</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" th:src="@{/images/logo.png}" alt="Admin Panel Logo" style="width: 200px; height: 111px;" />
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${param.logout}">
            <p class="text-warning">Başarıyla çıkış yaptınız.</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>Admin Paneline Erişim</p>
            <p>
                <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı" required autofocus />
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Şifre" required />
            </p>
            <div th:if="${param.error}">
                <p class="text-danger">[[${param.error}]]</p>
            </div>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Beni Hatırla
            </p>
            <p>
                <input type="submit" value="Giriş Yap" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
</body>
</html>
