<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify Account</title>
</head>
<body>
<h1>Verify Your Account</h1>
<form th:action="@{/verify}" method="post">
    <div>
        <label for="verificationCode">Enter Verification Code:</label>
        <input type="text" id="verificationCode" name="verificationCode" required>
    </div>
    <input type="hidden" name="email" th:value="${userEmail}"/> <!-- Kullanıcının email adresi gizli input ile gönderiliyor -->
    <button type="submit">Submit</button>
</form>

<!-- Hatalı kod girildiğinde mesaj gösterilir -->
<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>
</body>
</html>
