<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hesap Doğrulama</title>
</head>
<body>
<h1>Hesap Doğrulama</h1>
<form th:action="@{/verify}" method="post">
    <div>
        <label for="verificationCode">Mailinize gelen kodu giriniz:</label>
        <input type="text" id="verificationCode" name="verificationCode" required>
    </div>
    <input type="hidden" name="email" th:value="${userEmail}"/> <!-- Kullanıcının email adresi gizli input ile gönderiliyor -->
    <button type="submit">Gönder</button>
</form>

<!-- Hatalı kod girildiğinde mesaj gösterilir -->
<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>

<!-- Girişte hata varsa mesajı göster -->
<div th:if="${param.error}">
    <p style="color:red;" th:text="${param.error}"></p>
</div>
</body>
</html>
